{% extends "home.html" %}

		{% block content %}
		<h3>New Post</h3>

		<!-- <p>{{username}}</p> -->		

		<div class="blog-input-form">
		<form method="post">
			<label>
				<p>Subject</p>
				<div class="subject-input">
					<input type="text" name="subject" value="{{subject}}">
				</div>
			</label>
			<label>
				<p>Content</p>
				<textarea name="content" rows="12">{{content}}</textarea>
			</label>
			<div class="error">{{error}}</div>
			<input type= "submit">
		</div>
		</form>
		{% endblock %}
